body {
  font-size: 120%;
  padding: 2em;
  background-color: #f0f0f0;
}

.text-input textarea, #result {
  width: 100%;
  height: 8em;
  border: 1px solid black;
  border-radius: 0.25em;
  padding: 0.8em;
}
